.leaving_form{
    font-size: 15pt;
    text-align: justify;
    alignment: right;
    /*padding-right: 10px;*/
    width: 90%;
    margin: 0 4% 0 4%;
}

.leaving_type_radio{
    margin-left: 20px;
}

#leaving_course{
    font-size: 15pt;
}

#rightside{
    float: right;
}

#leftside{
    width: 500px;
    float: left;
    display: inline-block;
    margin-right: 150px;
}

#leaving_button {
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}

.clearfix {
    overflow: hidden;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


@media screen and (max-width: 700px){
    #leftside{
        margin-right: 0;
        float: none;
        width: inherit;
    }
    textarea{
        width: 300px;
    }
    #rightside{
        float: none;
    }
}