#history_part{
    width: 100%;
    margin-top: 50px;
}

.history_box{
    background: #ffffff;
    padding: 2%;
    height: inherit;
    border-bottom: #aaaaaa 1px solid;
    border-top: #aaaaaa 1px solid;
    width: 94%;
}

.history_box:hover{
    background: #eeeeee;
}

#history_describe{
    text-align: justify;
}