#main_part h1{
    background: -webkit-linear-gradient(45deg, #541b7a, #ed0036);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    margin-top: 20px;
}

#main_part h2{
    display: inline;
}

#today{
    margin-top: 30px;
}

#main_part button{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 60px;
    background: #eeeeee;
    border: 1px solid #6a6a6a;
}

#main_part button:focus{
    border: 1px solid #313131;
}

#main_part button span{
    font-size: 15pt;
}

#main_part a{
    margin-top: 20px;
    font-size: 15pt;
    display: block;
}

#day_details{
    font-size: 15pt;
}

#started_at{
    color: green;
    margin-top: 20px;
}

#end_at{
    color: red;
    margin-top: 20px;
}

@media screen and (max-width: 425px){
    #main_part button{
        width: 220px;
        height: 220px;
    }

    .welcome_message{
        margin-top: 70px !important;
    }
}
