#manual_entering{
    width: 28%;
    height: 200px;
    padding: 10px;
    background: #ffffff;
    border-radius: 8px;
    direction: rtl;
    position: relative;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 55%;
    box-shadow: #ed0036 0 0 10px 5px;
}

.false{
    bottom: 0 !important;
}

#close{
    border-radius: 100%;
    background: #eeeeee;
    display: inline-block;
    padding: 1% 2%;
}

h4{
    margin: 20px 0 20px 0;
}