#menu{
    width: 25%;
    height: 93%;
    margin: 1.5%;
    padding: .5%;
    position: fixed;
    right: 0;
    left: auto;
    background: #ffffff;
    border-radius: 20px;
    text-align: center;
    overflow: auto;
}

#logo{
    width: 100px;
    height: 100px;
}

#menu ul li{
    list-style: none;
    margin-top: 30px;
    font-size: 20px;
}

#menu ul hr{
    margin-top: 30px;
}

#account{
    width: 75px;
    height: 75px;
    margin-top: 30px;
    border: 2px solid #541b7a;
    border-radius: 50%;
}

#user{
    cursor: pointer;
}

#user h1{
    font-size: 15pt;
}

.selected{
    color: #ed0036;
}