.submit{
    background: #541b7a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 15pt;
    margin-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.submit:hover{
    background: linear-gradient(180deg, #541b7a, #441763);
}

#table{
    width: 80%;
    padding: 10%;
}

table {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 1px solid #c6c6c6;

    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;

    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;

    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;

    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}

table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

table table tr:first-child td:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}

table table tr:first-child td:last-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

table tr:hover td {

}

table tr:nth-child(odd) {
    background-color: #e8e8e8;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

table td {
    vertical-align: middle;
    border: 1px solid #c6c6c6;
    border-width: 1px 1px 1px 1px;
    text-align: center;
    padding: 7px;
    font-size: 12pt;
    font-weight: normal;
    color: #212121;
}

table tr:last-child td {
    border-width: 1px 1px 1px 1px;
}

table tr td:last-child {
    border-width: 0px 0px 1px 0px;
}

table tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}

table tr:first-child td {
    background: -o-linear-gradient(bottom, #b2b2b2 5%, #dbdbdb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b2b2b2), color-stop(1, #dbdbdb));
    background: -moz-linear-gradient(center top, #b2b2b2 5%, #dbdbdb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2b2b2", endColorstr="#dbdbdb");
    background: -o-linear-gradient(top, #b2b2b2, dbdbdb);

    background-color: #b2b2b2;
    border: 0px solid #c6c6c6;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 14px;
    font-weight: bold;
    color: #515151;
}

table tr:first-child:hover td {
    background: -o-linear-gradient(bottom, #b2b2b2 5%, #dbdbdb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b2b2b2), color-stop(1, #dbdbdb));
    background: -moz-linear-gradient(center top, #b2b2b2 5%, #dbdbdb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2b2b2", endColorstr="#dbdbdb");
    background: -o-linear-gradient(top, #b2b2b2, dbdbdb);

    background-color: #b2b2b2;
}

table tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}

table tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}

#sum{
    background: #eeeeee;
    border-radius: 9px;
    display: inline;
    padding: 2%;
    font-size: 12pt;
}

#from{
    width: 50%;
    margin: 0 25% 0 25%;
}

#to{
    width: 50%;
    margin: 0 25% 0 25%;
}
