#setting_page{
    text-align: right !important;
}

#rightside{
    float: right;
}

#user_info{
    text-align: center;
    width: 250px;
    padding-bottom: 20px;
}

.change_input{
    text-align: center;
    margin-top: 85px;
}

#logout{
    margin-bottom: 10px;
}

@media screen and (max-width: 700px){
    #setting_page{
        text-align: center;
    }
    #rightside{
        float: none;
    }
    #user_info{
        width: inherit;
    }
}