#toggle_menu{
    color: #541b7a;
    display: inline;
    font-size: 30pt;
    position: fixed;
    top: 30px;
    right: 20px;
}

.menu{
    position:fixed;
    top:30%;
    right:20px;
    transform:translate(0%,-50%) translateX(100px) translateY(60px);
    width:50px;
    height:250px;
    background-color: rgba(84, 27, 122, 0.71);
    border-radius:50px;
    z-index:3;
    transition:transform .6s ease;

}

.menu ul{
    display:flex;
    flex-direction:column;
    list-style-type:none;
    height:inherit ;
    border-radius:50px;
}
.menu ul li{
    flex:1;
    text-align:center;
    height:20px;
    margin-top:15px;
    border-radius:50%;
}
.menu ul li a{
    text-decoration:none;
    border-radius:50%;
    color:#fff ;
    width:0;
    padding:6px;
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
}
.menu ul li a i{
    border-radius:50%;
    background: linear-gradient(180deg, #541b7a, #441763);
    font-size:16px;
    padding:8px;
    width:20px;
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
}

.menu ul li a i.act{
    background: #ed0036;
}

.disp{
    transform:translate(0%,-50%) translateX(10px) translateY(60px);
    transition: transform .6s ease;
}