* {
    margin: 0;
    padding: 0;
}

#box{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #ed0036 ,#541b7a);
}

@media screen and (max-width: 800px) {
    #box {
        background-image: linear-gradient(45deg, #ed0036 ,#541b7a);
    }
}

