* {
    margin: 0;
    padding: 0;
}

.textbox {
    margin-bottom: 40px;
    width: 80%;
    text-align: center;
    font-size: 15pt;
    border: none;
    border-bottom: solid 2px #aaaaaa;
}

.textbox:focus {
    border-bottom: solid 2px #750e83;
    transition: 0.8s;
    direction: ltr;
}

.submit_button {
    width: 100%;
    padding: 1%;
    background: #560a60;
    color: white;
    border: none;
    font-size: 15pt;
    margin-bottom: 30px;
    margin-top: 30px;
    cursor: pointer;
}

.forget_pass {
    margin-bottom: 30px;
}

.submit_button:hover {
    background: #323232;
    color: #ffffff;
    margin-bottom: 0;
    transition: 0.3s;
}

@media screen and (max-width: 500px) {

    .forget_pass {
        margin-top: 0;
        margin-bottom: 0;
    }

    .textbox {
        margin-top: 10px;
    }

    .submit_button {
        margin-top: 10px;
    }
}