
* {
    margin: 0;
    padding: 0;
}

#content_box {
    width: 28%;
    height: 600px;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #ffffff;
    border-radius: 20px;
    text-align: center;
}

.login_title {
    margin-bottom: 20px;
    margin-top: 20px;
}

#content_box img {
    width: 100px;
    height: 120px;
    text-align: center;
}

@media screen and (max-width: 500px) and (min-width: 321px) {
    #content_box {
        width: 88%;
        height: 600px;
        margin: auto;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    #content_box img {
        margin-top: 10px;
    }
}

@media screen and (max-width: 320px) {
    #content_box {
        width: 88%;
        height: 500px;
        margin: auto;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

}

@media screen and (max-width: 800px) and (min-width: 501px) {
    #content_box {
        width: 88%;
        height: 800px;
        margin: auto;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

@media screen and (min-width: 801px) and (max-width: 1025px)
{
    #content_box{
        width: 70%;
        height: 800px;
        margin: auto;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

}