*{
    margin: 0;
    padding: 0;
}

#dialog_box{
    width: 400px;
    height: 100px;
    padding: 10px;
    background: #ffffff;
    border-radius: 8px;
    direction: rtl;
    position: absolute;
    margin: auto;
    top: auto;
    bottom: 20px;
    right: 0;
    left: 0;
}

#dialog_box #close{
    background: #aaaaaa;
    border-radius: 100%;
    padding: 5px 5px 2px 5px;
    float: left;
    display: block;
}

#dialog_box #dialog_icon{
    font-size: 30pt;
    float: right;
    margin-top: 30px;
}

#dialog_box #dialog_message{
    float: left;
    margin-top: 30px;
}

.success{
    background: #0bd02d !important;
}

.error{
    background: #ed0036 !important;
}

@media screen and (max-width: 700px){
    #dialog_box{
        width: 300px;
    }
}