#error_box{
    text-align: center;
}
#error_box img{
    width: 300px;
    height: 300px;
}
#error_box h1{
    border: 2px solid red;
    display: inline;
    padding: 40px;
    background-color: #ff9292;
}