@font-face {
    font-family: 'Byekan';
    src: url("../fonts/BYekan.ttf") format("truetype");
}

* {
    font-family: 'Byekan';
}

a {
    text-decoration: none;
    color: #541b7a;
}

a:hover {
    color: #840f93;
    transition: 0.2s;
}

h1 {
    font-size: 45px;
}

hr {
    border-top: 1px dotted #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.radio {
    margin-left: 10px;
}

.date {
    background: linear-gradient(45deg, #541b7a, #ed0036);
    color: #ffffff;
    padding: 3px 30px 3px 30px;
    border-radius: 9px;
    font-size: 20px;
    cursor: pointer;
}

#main_part {
    background: #ffffff;
    width: 68%;
    height: 93%;
    margin: 1.5%;
    padding: .5%;
    right: 0;
    left: auto;
    border-radius: 20px;
    text-align: center;
    overflow: auto;
}

#main_page {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(45deg, #ed0036, #541b7a) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

fieldset {
    width: 46%;
    margin: 5% 25% 0 5%;
    padding: 2%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #541b7a;
    background: #ffffff;
}

fieldset legend {
    color: #ffffff;
    border-top: 1px solid #541b7a;
    border-left: 1px solid #541b7a;
    border-right: 1px solid #541b7a;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: #541b7a;
    padding: 0 8px 3px 8px;
    font-weight: normal;
    font-size: 12pt;
}

fieldset label {
    display: block;
}

fieldset input, .inputbox {
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    font-size: 12pt;
}

.inputbox:focus{
    border: 1px solid #ed0036;
}

.submit {
    background: #541b7a;
    color: #ffffff;
    border: none;
    border-radius: 9px;
    font-size: 15pt;
    margin-top: 20px;
    padding: 3px 20px 3px 20px;
}

.alert {
    color: #ff0000;
}


.submit:hover {
    background: linear-gradient(180deg, #541b7a, #441763);
}

/*#leaving_type_box ul li {*/
/*    list-style: none;*/
/*}*/

/*#leaving_type_box ul li input[type=radio] {*/
/*    visibility: hidden;*/
/*}*/

/*.check {*/
/*    border: 2px solid #000000;*/
/*    border-radius: 100%;*/
/*    width: 15px;*/
/*    height: 15px;*/
/*    position: relative;*/
/*    float: right;*/
/*}*/

/*ul li .check::before {*/
/*    position: absolute;*/
/*    content: "";*/
/*    border-radius: 100%;*/
/*    height: 15px;*/
/*    width: 15px;*/
/*    !*top: 1.5px;*!*/
/*    !*left: 1.5px;*!*/
/*    margin: auto;*/
/*    transition: background 0.25s linear;*/
/*    -webkit-transition: background 0.25s linear;*/
/*}*/

/*#leaving_type_box ul li:hover {*/
/*    color: #541b7a;*/
/*}*/

/*input[type=radio]:checked ~ label {*/
/*    color: #ed0036;*/
/*}*/

/*input[type=radio]:checked ~ .check {*/
/*    border-color: #ed0036;*/
/*}*/

/*input[type=radio]:checked ~ .check:before {*/
/*    background: #ed0036;*/
/*}*/

.box_label{
    color: #aaaaaa;
}

@media screen and (max-width: 425px) {
    #main_part {
        width: 96%;
        height: 98%;
    }

    #menu {
        display: none;
    }

    .welcome_message {
        /*display: none;*/
        background: #ffffff;
    }

}