#leaving_box{
    width: 80%;
    height: 80%;
    background: #ffffff;
    border-radius: 8px;
    direction: rtl;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: #ed0036 0 0 2px 2px;
}

#in_box{
    width: 90%;
    height: 90%;
    margin: 5%;
}

#close{
    margin-top: 10px;
}

#leaving_box h2{
    display: inline;
}

#leaving_box h2:first-child{
    margin-left: 30px;
    color: #ed0036;
}

#leaving_box h2:last-child{
    margin-right: 30px;
    color: #541b7a;
}

#agree{
    background: #0bd02d !important;
}

#disagree{
    background: #ed0036 !important;
}
