.admin_box{
    background: #ffffff;
    margin-top: 20px;
    padding: 1%;
}

#admin_users_list{
    width: 98%;
    float: right;
}

.title_box{
    margin-bottom: 20px;
}

.users{
    width: 99%;
    height: 86px;
    padding: 4px;
    border-bottom: #aaaaaa 1px solid;
    border-top: #aaaaaa 1px solid;
}

.users:first-child{
    border-top: #aaaaaa 2px solid;
}

.users:nth-child(even){
    background: #eeeeee;
}

.users:last-child{
    border-bottom: #aaaaaa 2px solid;
}

#account_avatar{
    width: 75px;
    height: 75px;
    border: 2px solid #541b7a;
    border-radius: 50%;
    float: left;
    display: inline;
}

.users h2, .users h6{
    display: inline;
    float: right;
    margin-top: 27px;
}

.users h6{
    margin-top: 33px !important;
    margin-right: 10px;
    color: green;
}

.users:hover{
    background: #eeeeee;
}
