#sidebar_admin_menu{
    position: fixed;
    width: 20%;
    height: 100%;
    background: #541b7a;
    right: 0;
    left: auto;
    padding: .5%;
    overflow: auto;
}

#logo{
    width: 100px;
    height: 100px;
}

#sidebar_admin_menu nav{
    margin-right: 20px;
}

#sidebar_admin_menu ul li{
    list-style: none;
    margin-top: 30px;
    font-size: 20px !important;
}

#sidebar_admin_menu ul li a{
    color: #ffffff !important;
}

#sidebar_admin_menu ul li a i{
    margin-left: 10px;
}

#sidebar_admin_menu #branding{
    text-align: center;
}


