#admin_main{
    background: #eeeeee;
}

#admin_part{
    width: 77%;
    height: 100%;
    padding: 1%;
    position: absolute;
    right: auto;
    left: 0;
    background: #eeeeee;
    overflow: auto;
}

.admin_box{
    background: #ffffff;
    margin-top: 20px;
    padding: 1%;
}

#admin_users_list{
    width: 100%;
    float: right;
}

.title_box{
    margin-bottom: 20px;
}

.users{
    width: 99%;
    height: 86px;
    padding: 4px;
    border-bottom: #aaaaaa 1px solid;
    border-top: #aaaaaa 1px solid;
}

.users:first-child{
    border-top: #aaaaaa 2px solid;
}

.users:nth-child(odd){
    background: #eeeeee;
}

.users:last-child{
    border-bottom: #aaaaaa 2px solid;
}

#account_avatar{
    width: 75px;
    height: 75px;
    border: 2px solid #541b7a;
    border-radius: 50%;
    float: left;
    display: inline;
}

.users h2, .users h6{
    display: inline;
    float: right;
    margin-top: 27px;
}

.users h6{
    margin-top: 33px !important;
    margin-right: 10px;
    font-size: 12pt;
    color: green;
}

.users:hover{
    background: #eeeeee;
}

#sum_hours{
    background: #ed0036;
    color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    padding: 5%;
    font-size: 20pt;
    margin-bottom: 15px;
}

#sum_box{
    text-align: center;
    width: 25%;
    float: left;
}