#report_table_admin{
    width: 80%;
    height: 80%;
    background: #ffffff;
    border-radius: 8px;
    direction: rtl;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: #ed0036 0 0 2px 2px;
}